<div class="bg-gray-50 rounded-lg p-2 text-violet-700 flex gap-4 shadow-sm">
  {{#if (positive @count)}}
    <div class="stroke-violet-700">
      <Cart::Icon />
    </div>
    <div class="bg-white rounded-full font-bold w-full px-2 h-6 min-w-[24px] leading-2 text-center">{{@count}}</div> 
    <span>{{@total}}</span>
  {{else}}
    <div class="stroke-gray-800">
      <Cart::Icon />
    </div>
  {{/if}}
</div>