<Ui::Card class="mb-8 mx-auto py-4 pl-4 pr-8 flex gap-8">
  <div class="flex">
    <div class="w-52 h-40 rounded-lg overflow-hidden">
      <img src={{ concat  "assets/images/" @product.imageUrl }} alt="product-img" class="object-cover w-auto h-full object-center w-full" />
    </div>
  </div>
  <div class="flex flex-col">
    <p class="my-2">
      <div class="mb-2"><Ui::MdTitle>{{@product.name}}</Ui::MdTitle></div>
      <div><Product::DiscountLabel @text={{@product.discountText}}/></div>
    </p>
    <Product::Counter @cart={{@cart}} 
      @getProductQuantity={{@getProductQuantity}}
      @add={{@add}} 
      @remove={{@remove}} @isLastProduct={{this.isLastProduct}}
      @product={{@product}} />
  </div>
  <div class="ml-auto mt-2"><Ui::LgText>{{@productPrice @product}}</Ui::LgText></div>
</Ui::Card>

