<Ui::Card>
  <Ui::MdTitle class="px-8 py-4 bg-gray-100">Summary</Ui::MdTitle>
  <div class="pl-16 pr-8 py-8">
    <ul>
      <li class="flex justify-between align-center mb-4 relative cursor-pointer">
        <span class="absolute -ml-8 ">
          {{#if @isShowingSummary}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
             <path d="M19.5 8.25L12 15.75L4.5 8.25" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M8.25 4.5L15.75 12L8.25 19.5" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          {{/if}}
        </span>
        Subtotal<div class="text-base font-bold">{{@totalWithoutDiscount}}</div>
      </li>
      {{#if @isShowingSummary}}
          <li class="my-8">
            <ul>
              {{#each @cart.items as |item|}}
                {{#if (positive item.quantity)}}
                  <li class="flex items-center justify-between mb-4">
                    {{item.quantity}} x {{item.name}}
                    <span>{{@productTotal item}}</span>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </li>
        {{/if}}
      <li class="flex justify-between align-center mb-4">Shipping cost<div class="text-base font-bold">0</div></li>
      <li class="flex justify-between align-center">Discount<div class="text-base font-bold">-{{@discount}}</div></li>
    </ul>
  </div>
  <div class="border-b border-gray-100"></div>
  <div class="p-8">
    <div class="flex justify-between align-center mb-4"><Ui::LgText>Total Payable</Ui::LgText> <Ui::MdTitle>{{@total}}</Ui::MdTitle></div>
    <div class="text-right"><Ui::PrimaryButton class="p-2">Go to Checkout</Ui::PrimaryButton></div>
  </div>
</Ui::Card>