<div class="my-4 mx-auto p-5">
  <Ui::LgTitle class="mb-2">Shopping Cart</Ui::LgTitle>
  <p>
    <Ui::LgText>
      {{#if (positive this.count)}}
        You have {{this.count}} items in your cart
      {{else}}
        You don't have items in your cart
      {{/if}}
    </Ui::LgText>
  </p>
  <div class="flex gap-14 mt-8 flex-wrap">
    <ul class="grow">
      {{#each this.cart.items as |product|}}
        <li class="flex-1">
          <Cart::Product @product={{product}} 
            @cart={{this.cart}} 
            @add={{this.add}} 
            @remove={{this.remove}} 
            @productInCart={{this.productInCart}} 
            @getProductQuantity={{this.getProductQuantity}}
            @isLastProduct={{this.isLastProduct}}  
            @productPrice={{this.productPrice}}     
          />
        </li>
      {{/each}}
    </ul>
    <div class="flex-none w-[404px]" {{action "toggleSummary"}}>
      <div class="flex-1">
        <Cart::Summary @total={{this.total}}
          @toggleSummary={{this.toggleSummary}}
          @isShowingSummary={{this.isShowingSummary}}
          @cart={{this.cart}} 
          @discount={{this.discount}}
          @totalWithoutDiscount={{this.totalWithoutDiscount}}
          @productTotal={{this.productTotal}}
        />
      </div>
    </div>
  </div>
</div>