<nav class="font-sans text-gray-800 text-base">
  <div class="border-b border-gray-200 px-12 py-5 mb-12">
    <div class="flex justify-between">
      <LinkTo @route="products" class="rounded-lg px-3 py-2">
        <img src="assets/images/logo.png" alt="logo"/>
      </LinkTo>
      <LinkTo @route="cart">
        <Cart::HeaderInfo @count={{this.count}} @total={{this.total}}/>
      </LinkTo>
    </div>
  </div>
</nav>

<div class="mx-16 font-sans text-gray-800">{{outlet}}</div>