<Ui::Card class="my-4 mx-auto">
  <div class="h-64 overflow-hidden relative">
    <img src={{ concat  "assets/images/" @product.imageUrl }} alt="product-img" class="" />
    <div class="absolute right-4 top-4"><Product::DiscountLabel @text={{@product.discountText}}/></div>
  </div>
  <p class="my-2 p-4">
    <Ui::MdTitle>{{@product.name}}</Ui::MdTitle>
  </p>
  <div class="flex justify-between px-4 items-center">
    <Ui::LgText>{{this.productPrice @product}}</Ui::LgText>
    {{#if (this.showProductCounter @product)}}
      <div class="my-2">
        <Product::Counter @cart={{this.cart}} 
          @getProductQuantity={{this.getProductQuantity}}
          @add={{this.addToCart}} 
          @remove={{this.removeFromCart}}
          @isLastProduct={{this.isLastProduct}}
          @product={{@product}} />
      </div>
    {{else}}
      <Ui::SecondaryButton {{on "click" (fn this.addToCart @product)}} class="my-2">Add to cart</Ui::SecondaryButton>
    {{/if}}
  </div>
</Ui::Card>
