<ul class="flex items-center mb-16">
  <li class="text-violet-700 p-2 border-b border-violet-700 font-bold mr-8 cursor-pointer">
    Groceries
  </li>
  <li class="mr-8 cursor-pointer">
    Wine
  </li>
  <li class="mr-8 cursor-pointer">
    Clothes
  </li>
  <li class="m-4 cursor-pointer">
    FX
  </li>
</ul>