{{page-title "Cart"}}
<LinkTo @route="products" class="px-3 py-2 flex items-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M15.75 19.5L8.25 12L15.75 4.5" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  Continue Shopping
</LinkTo>

<Cart @products={{ this.model }} />
{{outlet}}