{{page-title "Products"}}

<Product::Tabs />
<Ui::LgTitle>Groceries</Ui::LgTitle>
<Ui::LgText>Special FX offers only the finest organic produce.</Ui::LgText>
<ul class="grid grid-cols-products grid gap-14 my-4">
  {{#each this.model as |product|}}
    <li><Product @product={{product}} /></li>
  {{/each}}
</ul>
